<div class="todo__item">
  <app-checkbox
    [id]="item.id"
    [text]="item.text"
    [status]="item.status"
    (click)="clickTask(item.id, 'change')"
  ></app-checkbox>
  <div class="todo__item_text">
    <span *ngIf="!isActiveInput"
          (click)="singleClick(item.id, 'selected')"
          (dblclick)="doubleClick(item.id)"
    >
<!--      {{ item.text }}-->
    </span>
    <div class="todo__item_input" [ngClass]="isActiveInput ? 'button__add' : 'disabled'">
      <app-input #taskInput (keydown)="taskHandler(taskInput.value);"></app-input>
    </div>
    <app-button-component
      classButton="button__delete"
      *ngIf="isActiveInput"
      [tooltip]="'Назад'"
      (click)="back();"
    >
      Назад
    </app-button-component>
    <app-button-component
      [tooltip]="isActiveInput ? 'Сохранить' : 'Удалить'"
      [classButton]="isActiveInput ? 'button__add' : 'button__delete'"
      [disabled]="isActiveInput && disabled"
      (click)="action(item.id, isActiveInput ? 'update' : 'delete', taskInput.value);"
    >
      {{ isActiveInput ? 'Сохранить' : 'Удалить'  }}
    </app-button-component>
  </div>
</div>
