.todo__item {
  display: flex;
  width: 400px;
  //height: 80px;
  justify-content: space-between;
  align-items: center;
  padding: 24px;
  background-color: #535353;
  border-radius: 4px;
  margin-top: 12px;

  &_text {
    display: flex;
    flex: 1;
    justify-content: space-between;
  }

  &_input {
    &.disabled {
      display: none;
    }

    &.active {
      display: block;
    }
  }

  &_input,
  &_textarea {
  }

  &_textarea {
  }
}
