:host {
  .selected {
    display: block;
    background-color: grey;
  }
}

.todo {
  &__wrapper {
    display: flex;
  }

  &__container {
    width: 400px;
    max-width: 400px;
    margin-top: 24px;
  }

  &__description {
    width: 400px;
    max-width: 400px;
    margin-top: 36px;
    margin-left: 48px;
  }

  &__form {
    display: flex;
    flex-direction: column;
  }
}
