.wrapper {
  position: relative;

  .content {
    display: flex;

    .aside {
      width: 240px;
      height: 100vh;
      position: fixed;
    }

    .main {
      width: calc(100% - 240px);
      flex: 1;
    }
  }

  .toast {
    position: absolute;
    overflow: hidden;
    right: 0;
    top: 0;
    width: 360px;
    height: 100vh;
  }
}
