/* You can add global styles to this file, and also import other style files */

body {
  padding: 40px;
}

p {
  margin: 0;
}

input {
  border-radius: 8px;
  height: 32px;
  border: 1px solid grey;
}

button {
  border-radius: 8px;
  height: 32px;
  border: 1px solid grey;
}
