.menu {
  width: 100%;
  height: 100%;

  &__list {
    height: calc(100% - 80px);
    background-color: #404040;
  }

  &__item {
    text-decoration: none;
    display: block;
    padding: 16px 24px;
    font-size: 18px;
    line-height: 24px;
    color: #ffffff;
    cursor: pointer;
    transition: all 0.3s;

    &:hover {
      background-color: #373737;
    }

    & + .menu__item {
      border-top: 1px solid #555555;
    }

    &:last-child {
      border-bottom: 1px solid #555555;
    }

    &.active {
      background-color: #343434;
    }
  }
}
